<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

{% load staticfiles %} <!-- New line -->

<html>
	<head>
			<link rel="icon"
			  type="image/png"
			  href="/static/beach_homepage/images/tempLogo.png"
			  sizes="32x32"/>
		<title>Piece of Eden Rentals</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li><a href="user_profile.html">User Profile</a></li>
						<li  class="active"><a href="list_new_property.html">List a Property</a></li>
						<li><a href="property_search.html">Search Properties</a></li>
						{% if not user.is_authenticated %}
						<li><a href="/accounts/login/"><i class="fa fa-sign-in"></i> Login</a></li>
							<li><a href="create_user.html"><i class="fa fa-plus-square"></i> Sign Up</a></li>
						{%endif%}
						{% if user.is_authenticated %}
						<li>		<a href="/accounts/logout"> Logout</a> </li>
						<li><a href="create_user.html"><i class="fa fa-plus-square"></i> Create new User</a></li>
						{%endif%}
					</ul>
				</nav>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					{% if not user.is_authenticated %}
					<h2>Please create a user and or login to be able to list a property</h2>
					{%endif%}
					<br>
					{% if user.is_authenticated %}
					<div id="content" class="container">
						<section>
							<header>
								<h2>Create Property Form</h2>
								<span class="byline">Note: Properties are subject to admin approval before being posted.</span>
								<span class="byline">Form entry</span>
								<section>
									<section>
									<div class="row">
									<section>
								    <form method="post" action="list_new_property.html" enctype = "multipart/form-data">{% csrf_token %}
								        <table border="0">
								            {{ form.as_table }}
								        </table>
								        <input type="submit" value="Register" />
								    </form>
										{% if not user.is_authenticated %}
								    <a href="/accounts/login/">Login</a>
										{%endif%}
									</section>
									<section>
										<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
										<script type="text/javascript">
												window.onload = function () {
														document.getElementById("id_Owner").value = "{{user.username}}";
														var mapOptions = {
																center: new google.maps.LatLng(18.9300, 72.8200),
																zoom: 14,
																mapTypeId: google.maps.MapTypeId.ROADMAP
														};
														var infoWindow = new google.maps.InfoWindow();
														var latlngbounds = new google.maps.LatLngBounds();
														var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
														google.maps.event.addListener(map, 'click', function (e) {
																//alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());

																document.getElementById("id_Lat").value = e.latLng.lat();
																document.getElementById("id_Long").value = e.latLng.lng();
																var myCenter=new google.maps.LatLng(e.latLng.lat(),e.latLng.lng());
																var marker = new google.maps.Marker({
															    position:myCenter,
															    map: map,
															    title: 'Hello World!'
															  });

														});
												}
										</script>
										<div id="dvMap" style="width: 500px; height: 500px">
										</div>
									</div>
								</section>
									</section>
							</header>
						</section>
					</div>
						{%endif%}
				</div>

			</div>
		</div>
	<!-- /Main -->

	<!-- quote -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;In every outthrust headland, in every curving beach, in every grain of sand there is the story of the earth.&rdquo; Rachel Carson</blockquote>
				</section>
			</div>
		</div>
	<!-- /quote -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
