<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Piece of Eden Rentals</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li><a href="user_profile.html">User Profile</a></li>
						<li><a href="list_new_property.html">List a Property</a></li>
						<li  class="active"><a href="property_search.html">Search Properties</a></li>
					</ul>
				</nav>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">

			<div id="content" class="container">
				<section>
					<header>
						<h2>Property Search</h2>
						<span class="byline">Still Looking for a good table</span>
					</header>
					<p>Thinking of doing a table and the Google Map</p>
					</section>
					<section>
						<form action="/search/" method="get">
							<input type="text" name="q">
							<input type="submit" value="Search">
						</form>
					<br><br>
						<form action="/sort/" method="get">
								Filter by: <br>
								Price Below: <input type="textbox" id="PriceBelow">
								Price Above: <input type="textbox" id="PriceAbove">
								Price Above: <input type="textbox" id="PriceAbove"> <br>
								Sort by: <br>
								<select>
									<option value="Oldest">Oldest</option>
								  <option value="Most Recent">Most Recent</option>
								  <option value="Alphabetical">Alphabetical</option>
								  <option value="Price(low to high)">Price(low to high)</option>
								  <option value="Price(high to low)">Price(high to low)</option>
								</select>
								<br>
								<input type="submit" value="Apply">
							</form>
					</section>
					<section>
					{% for property in list %}
					<br>
					<hr>
					<span ><a href="/beach_homepage/prop_info/{{property.Name}}"> {{ property.Name }} </a></span>
					<span>{{ property.Price }} </span>
					<span>{{ property.Location }} </span>
					<span> {{ property.Owner }} </span>
					<span> {{ property.Description}} </span>
					<span> {{ property.Image.url }} </span>
					<br>
					<img src="{{property.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
					<br>
					{% endfor %}
					<br>
				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Another Quote here&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
