<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Piece of Eden Rentals</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>
		<script
		src="http://maps.googleapis.com/maps/api/js">
		</script>
		<script>
		var myCenter=new google.maps.LatLng(51.508742,-0.120850);

		function initialize()
		{
		var mapProp = {
		  center:myCenter,
		  zoom:5,
		  mapTypeId:google.maps.MapTypeId.ROADMAP
		  };

		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

		var marker=new google.maps.Marker({
		  position:myCenter,
		  icon:'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Ball-Pink-icon.png'
		  });

		marker.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li><a href="user_profile.html">User Profile</a></li>
						<li><a href="list_new_property.html">List a Property</a></li>
						<li  class="active"><a href="property_search.html">Search Properties</a></li>
					</ul>
				</nav>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">

			<div id="content" class="container">
				<section>
					<header>
						<h2>Property Info</h2>
					</header>
					</section>
					<section>
					</form>
					<br>
					<hr>
					<span>{{ list.Name }}</span>
					<span>{{ list.Price }} </span>
					<span>{{ list.Location }} </span>
					<span> {{ list.Owner }} </span>
					<span> {{ list.Image.url }} </span>
					<br>
					<img src="{{list.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
				    <div id="googleMap" style="width:500px;height:380px;"></div>

						<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=umbc.edu_por8rnk2t65emujmgrnbgsbieo%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					<br>
				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Another Quote here&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
