<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


{% load staticfiles %} <!-- New line -->
<html>
	<head>
			<link rel="icon"
			  type="image/png"
			  href="/static/beach_homepage/images/tempLogo.png"
			  sizes="32x32"/>
		<title>Piece of Eden Rentals</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<script src="{% static "beach_homepage/js/jquery.autocomplete.min.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>
		<style>
		.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; position: relative;  left: 621px;  top: 445px;}
		.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
		.autocomplete-selected { background: #f0f0f0; }
		.autocomplete-suggestions strong { font-weight: normal; color: #3399ff;  }
		#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

		#searchfield form {
		  display: inline-block;
		  background: #eeefed;
		  padding: 0;
		  margin: 0;
		  padding: 5px;
		  border-radius: 3px;
		  margin: 5px 0 0 0;
		}
		#searchfield form .biginput {
		  width: 600px;
		  height: 40px;
		  padding: 0 10px 0 10px;
		  background-color: #fff;
		  border: 1px solid #c8c8c8;
		  border-radius: 3px;
		  color: #aeaeae;
		  font-weight:normal;
		  font-size: 1.5em;
		  -webkit-transition: all 0.2s linear;
		  -moz-transition: all 0.2s linear;
		  transition: all 0.2s linear;
		}
		#searchfield form .biginput:focus {
		  color: #858585;
		}
		</style>

		<script>


		$(function(){
		  var currencies = [
				{% for property in list %}
					{% if property.Approval > 0  %}
						{ value: '{{property.Name}}', data: '{{property.Name}}' },
					{%endif%}
					{% if user.is_superuser and property.Approval == 0  %}
					{ value: '{{property.Name}}', data: '{{property.Name}}' },
				{%endif%}
				{% endfor %}
		  ];

		  // setup autocomplete function pulling from currencies[] array
		  $('#autocomplete').autocomplete({
		    lookup: currencies,
		    onSelect: function (suggestion) {
		      var thehtml = '<strong>Currency Name:</strong> ' + suggestion.value + ' <br> <strong>Symbol:</strong> ' + suggestion.data;
		      $('#outputcontent').html(thehtml);
		    }
		  });


		});

		</script>

	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li><a href="user_profile.html">User Profile</a></li>
						<li  class="active"><a href="list_new_property.html">List a Property</a></li>
						<li><a href="property_search.html">Search Properties</a></li>
						{% if not user.is_authenticated %}
						<li><a href="/accounts/login/"><i class="fa fa-sign-in"></i> Login</a></li>
							<li><a href="create_user.html"><i class="fa fa-plus-square"></i> Sign Up</a></li>
						{%endif%}
						{% if user.is_authenticated %}
						<li>		<a href="/accounts/logout"> Logout</a> </li>
						<li><a href="create_user.html"><i class="fa fa-plus-square"></i> Create new User</a></li>
						{%endif%}
					</ul>
				</nav>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">

			<div id="content" class="container">
				<section>
					<header>
						<h2>Property Search</h2>
					</header>

					</section>
					<section>

						<div id="searchfield">
							<form action="/search/" method="get">
								<input type="text" name="currency" class="biginput" id="autocomplete"  style="float: left;">
								<input type="submit" value="Search">
							</form>

						</div><!-- @end #searchfield -->

					<!--
						<form action="/sort/" method="get">
								Filter by: <br>
								Price Below: <input type="textbox" id="PriceBelow">
								Price Above: <input type="textbox" id="PriceAbove">
								Price Above: <input type="textbox" id="PriceAbove"> <br>
								Sort by: <br>
								<select>
									<option value="Oldest">Oldest</option>
								  <option value="Most Recent">Most Recent</option>
								  <option value="Alphabetical">Alphabetical</option>
								  <option value="Price(low to high)">Price(low to high)</option>
								  <option value="Price(high to low)">Price(high to low)</option>
								</select>
								<br>
								<input type="submit" value="Apply">
							</form>
						-->
					</section>
					<section>

						{% if user.is_superuser  %}
						<details>
							<summary>Not Apprved Properties</summary>
												{% for property in list %}
														{% if property.Approval == 0  %}
															<br>
															<hr>
															<div style="background-color: red; width: 100&#37;; text-align: center; color: white;">NOT APPROVED</div>
															<span ><a href="/beach_homepage/prop_info/{{property.Name}}"> {{ property.Name }} </a></span>
															<span>Price per Night: {{ property.Price }} </span>
															<span>Location: {{ property.Location }} </span>
															<span><a href="/beach_homepage/user_info/{{property.Owner}}">Owner: {{ property.Owner }} </a> </span>
															<br>
															<img src="{{property.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
															<br>
															<span>Rating: {{ property.Rating }} </span>
															<br>
																				<span> {{ property.Description}} </span>
															<br>
														{%endif%}
												{% endfor %}

							</details>
							<details>
							<summary>Apprved Properties</summary>
												{% for property in list %}
														{% if property.Approval > 0  %}
															<br>
															<hr>
															<div style="background-color: green; width: 100&#37;; text-align: center; color: white;">APPROVED</div>
															<span ><a href="/beach_homepage/prop_info/{{property.Name}}"> {{ property.Name }} </a></span>
															<span>Price per Night: {{ property.Price }} </span>
															<span>Location: {{ property.Location }} </span>
																<span><a href="/beach_homepage/user_info/{{property.Owner}}">Owner: {{ property.Owner }} </a> </span>
															<br>
															<img src="{{property.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
															<br>
															<span>Rating: {{ property.Rating }} </span>
															<br>
																				<span> {{ property.Description}} </span>
															<br>
														{%endif%}
												{% endfor %}

							</details>
					{%endif%}
					{% for property in list %}

					{% if not user.is_superuser and property.Approval > 0  %}
						<br>
						<hr>
						<span ><a href="/beach_homepage/prop_info/{{property.Name}}"> {{ property.Name }} </a></span>
						<span>Price per Night: {{ property.Price }} </span>
						<span>Location: {{ property.Location }} </span>
							<span><a href="/beach_homepage/user_info/{{property.Owner}}">Owner: {{ property.Owner }} </a> </span>
						<br>
						<img src="{{property.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
						<br>
						<span>Rating: {{ property.Rating }} </span>
						<br>
											<span> {{ property.Description}} </span>
						<br>
					{%endif%}
					{% endfor %}
					<br>
				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;A day at the beach restores the soul&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
