<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Linear by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li  class="active"><a href="user_profile.html">User Profile</a></li>
						<li><a href="list_new_property.html">List a Property</a></li>
						<li><a href="property_search.html">Search Properties</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Piece of Eden Rentals</a></h1>
					<!--<span class="tag"></span>-->
				</div>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>Put some kind of user options here?</h2>
							</header>
							<div class="row">
								<section class="6u">
									<ul class="default">
										<li><a href="#">Option 1</a></li>
										<li><a href="#">Option 2</a></li>
										<li><a href="#">Option 3</a></li>
										<li><a href="#">Option 4</a></li>
										<li><a href="#">Option 5</a></li>
									</ul>
								</section>
								<section class="6u">
									<ul class="default">
										<li><a href="#">If we need more options/links add below..</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
									</ul>
								</section>
							</div>
						</section>
						<section>
							<header>
								<h2>Maybe have my properties/appointments here?</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">Upcoming vacation or upcoming rental?</p>
									<p><a href="#">Name of listing</a></p>
								</li>
							</ul>
						</section>
					</div>

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>Username here?</h2>
								<span class="byline">Actual Name of user</span>
							</header>
							<p>Some junk here idk</p>
							<p>More Junk</p>
						</section>
					</div>

				</div>
			</div>
		</div>
	<!-- /Main -->

	<!-- quote -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Live long and Prosper&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /quote -->

	<!-- Footer
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	/Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
