<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Piece of Eden Rentals</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static "beach_homepage/js/skel.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/skel-panels.min.js" %}"></script>
		<script src="{% static "beach_homepage/js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/skel-noscript.css" %}" />
			<link rel="stylesheet" href=  "{% static "static/beach_homepage/css/style.css" %}"/>
			<link rel="stylesheet" href= "{% static "static/beach_homepage/css/style-desktop.css" %}"/>
		</noscript>

		<style>

				.starRating:not(old){
				  display        : inline-block;
				  width          : 7.5em;
				  height         : 1.5em;
				  overflow       : hidden;
				  vertical-align : bottom;
				}

				.starRating:not(old) > input{
				  margin-right : -100%;
				  opacity      : 0;
				}

				.starRating:not(old) > label{
				  display         : block;
				  float           : right;
				  position        : relative;
				  background      : url('{% static '/static/beach_homepage/images/star-off.svg' %}');
				  background-size : contain;
				}

				.starRating:not(old) > label:before{
				  content         : '';
				  display         : block;
				  width           : 1.5em;
				  height          : 1.5em;
				  background      : url('{% static '/static/beach_homepage/images/star-on.svg' %}');
				  background-size : contain;
				  opacity         : 0;
				  transition      : opacity 0.2s linear;
				}

				.starRating:not(old) > label:hover:before,
				.starRating:not(old) > label:hover ~ label:before,
				.starRating:not(:hover) > :checked ~ label:before{
				  opacity : 1;
				}

				</style>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Homepage</a></li>
						<li  class="active"><a href="user_profile.html">User Profile</a></li>
						<li><a href="list_new_property.html">List a Property</a></li>
						<li><a href="property_search.html">Search Properties</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">User Profile</a></h1>
					<!--<span class="tag"></span>-->
				</div>
			</div>
		</div>
	<!-- Header -->

	<!-- Main -->
		<div id="main">
			<div class="container">

				<div class="row">

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<form action="create_user.html">
										<input type="submit" value="Create User">
							</form>
							<br>
							<form action="/accounts/login/">
										<input type="submit" value="Login">
							</form>
							<br>
							<header>
								<h2>Avatar</h2>

							</header>
							<span class="pennant"><span class="fa fa-user"></span></span>
	<!--						<div class="row">
								<section class="6u">
									<ul class="default">
										<li><a href="#">Option 1</a></li>
										<li><a href="#">Option 2</a></li>
										<li><a href="#">Option 3</a></li>
										<li><a href="#">Option 4</a></li>
										<li><a href="#">Option 5</a></li>
									</ul>
								</section>
								<section class="6u">
									<ul class="default">
										<li><a href="#">If we need more options/links add below..</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
										<li><a href="#">Placeholder</a></li>
									</ul>
								</section>
							</div>
			-->
			<!--			</section>
						<section>
							<header>
								<h2>Maybe have my properties/appointments here?</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">Upcoming vacation or upcoming rental?</p>
									<p><a href="#">Name of listing</a></p>
								</li>
							</ul>
						</section>-->
					</div>

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>

							<header>
								<h2>Welcome {{user.username}}</h2>
								<span class="byline">
									User Name:<br>
  								<input type="text" value = "{{user.username}}" name="UserName"> <br>
									Password: <br>
									<input type="password" value = "{{user.password}}" name="Password">
								</span>
							</header>
							<p>Public Info</p>
							<textarea rows="4" cols="50">
								{{user.publicInfo}}
							</textarea>

						</section>
					</div>
					<p>Properties
						<section>
						{% for property in list %}
						<br>
						<hr>
						<span ><a href="/beach_homepage/prop_info/{{property.Name}}"> {{ property.Name }} </a></span>
						<span>Price per Night: {{ property.Price }} </span>
						<span>Location: {{ property.Location }} </span>
						<span>Owner: {{ property.Owner }} </span>
						<br>
						<img src="{{property.Image.url}}"alt="BeachHouse" style="width:304px;height:228px;">
						{% if property.Rent != 0 %}
							<img src="http://alisoncanavan.com/wp-content/uploads/2014/10/fully-booked.gif" width=100px height=100px alt="Booked">
						{%endif%}
						{% if property.Rent == 0 %}
							<img src="http://www.hsaforamerica.com/healthcare-debate-blog/wp-content/uploads/2013/03/h-38.gif" width=100px height=100px alt="Available">
						{%endif%}
						<span>
							<p>
								<form method="post" id="rating" name="rateForm" action="/beach_homepage/rate_prop/{{property.Name}}">
									{% csrf_token %}
								Rate This Property!
								<span class="starRating">
									<input id="rating5" type="radio" name="rating" value="5">
									<label for="rating5">5</label>
									<input id="rating4" type="radio" name="rating" value="4">
									<label for="rating4">4</label>
									<input id="rating3" type="radio" name="rating"  value="3">
									<label for="rating3">3</label>
									<input id="rating2" type="radio" name="rating" value="2">
									<label for="rating2">2</label>
									<input id="rating1" type="radio" name="rating" value="1">
									<label for="rating1">1</label>
								</span>
									<input type="submit" value="Review!">
								</form>
							</p>


						</span>
						<br>
						<span> {{ property.Description}} </span>
						<br>
						{% endfor %}
						<br>
						</section>
				</div>

			</div>

		</div>
	<!-- /Main -->

	<!-- quote -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Live long and Prosper&rdquo;</blockquote>
				</section>
			</div>
		</div>
	<!-- /quote -->

	<!-- Footer
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	/Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>
